html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 95px 95px;
    padding: 15px 30px;
}
h1{
    font-size: 65px;
    margin-bottom: 15px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.row{
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
}
.col:nth-of-type(1){
    width: 450px;
}

.flex-ratings{
    margin-left: auto;
}

.ratings{
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 15px;
    padding: 17px 10px;
    border-radius: 8px;
    width: 325px;
}

.ratings span{
    margin-left: 5px;
    top: 3px;
    line-height: 1.5px;
}

.report{ 
    margin-left: 50px;
}

.tech{
    margin-left: 100px;
}

.col p{
    color: hsl(303, 10%, 53%);
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}

























.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }